/data_retrieval/instructions.html
.ipynb_checkpoints/
.DS_Store
data/
nn_postprocessing/__pycache__
*.pyc
*.aux
*.bbl
*.blg
*.log
*.backup
.idea/
/additional
.Rdata
.Rhistory
/qrf_postprocessing/tuning_par_plots/
